<ion-view view-title="新煤汽运">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
      <ion-slide>
        <div class="box-slider">
          <img src="img/home/banner-01.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box-slider">
          <img src="img/home/banner-02.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box-slider">
          <img src="img/home/banner-03.jpg">
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="row news-top">
      <div class="row news-main">
        <div class="col-20">
          <img ng-src="img/home-toutiao.png">
        </div>
        <div class="col-60" id="toutiao">
          <ul>
            <li ng-repeat="hotnew in hotnewstop5">
              <a href="#/tab/transportNews/zkxw_content/{{::hotnew.Id}}" ng>{{hotnew.Title}}</a>
            </li>
          </ul>
        </div>
        <div class="col-20">
          <a ng-click="gonewslist()">更多</a>
        </div>
      </div>
    </div>

    <div class="list home-main">
      <div class="row">
        <div class="col col-33 col_home_block bt">
          <a ng-href="#/tab/roadstatelist">
            <i class="icon iconfont icon-font14"></i>
            <span>实时路况</span>
          </a>
        </div>
        <div class="col col-33 col_home_block bt bx">
          <a ng-href="#/tab/truckarticlelist">
            <i class="icon iconfont icon-huoche"></i>
            <span>爱车养护</span>
          </a>
        </div>
        <div class="col col-33 col_home_block bt">
          <a ng-href="#/tab/weather">
            <i class="icon iconfont icon-tianqi"></i>
            <span>天气预报</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 col_home_block by">
          <a ng-href="#/tab/huos">
            <i class="icon iconfont icon-dengshan01"></i>
            <span>煤炭货源</span>
          </a>
        </div>
        <div class="col col-33 col_home_block b">
          <a ng-href="#/tab/ches">
            <i class="icon iconfont icon-huoche1"></i>
            <span>车源信息</span>
          </a>
        </div>
        <div class="col col-33 col_home_block by">
          <a ng-href="#/tab/transportNews/1">
            <i class="icon iconfont icon-xiaoxi"></i>
            <span>汽运资讯</span>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>