<ion-view view-title="客户服务">
  <ion-content scroll="false" class="xm-khfw">
    <div class="list">
      <div class="xm-khfw-main">
        <div class="tit">在线服务热线</div>
        <a class="tel-serve" href="tel:400-165-0001">
          <h1>400-165-0001</h1>
        </a>
        <div style="padding: 5px 0px;">
          <div class="wire"></div>
          <span class="zi">服务时间：周一至周五 9:00~17:00</span>
        </div>
      </div>

      <div class="ewm">
        <p style="color: #279aed;">关注企业公众号，随时获取最新资讯</p>
        <img src="img/QR-code.png">
      </div>
    </div>

    <div class="bar bar-positive view-container khfw-top"></div>
  </ion-content>
</ion-view>