<ion-view title="已登录详细页">
    <ion-content scroll="true">
        <div class="user user-bg">
            <h2><i class="icon ion-gear-a" ng-click="openModal('changePas')"></i></h2>
            <div class="txtDiv bb">
                <h1 style="margin: 5rem 0;">你好，张婷婷！</h1>
            </div>
            <div class="txtDiv" style="padding: 2rem 1rem;">
                <h4><span class="fl" style="margin-top: -1px;"><i class="icon iconfont icon-youjian"></i></span>12019380184@qq.com</h4>
                <h4><span class="fl" style="margin-top: 1px;"><i class="icon iconfont icon-shouji" style="margin-left: 3px;"></i></span>123234325542</h4>
            </div>
            <img src="img/bian.jpg" class="bian">
        </div>
    </ion-content>
</ion-view>