<ion-view view-title="个人详细页">
    <ion-content scroll="true">
        <div class="user user-bg">
            <div class="padding">

                <h1>Hi,等你好久了！</h1>
                <!--<a class="button button-block button-light" ng-href="#/tab/changePas">修改密码</a>-->
                <a class="button button-block button-login" ng-click="openModal('login')">登 录</a>
                <a class="button button-block button-positive" ng-click="openModal('register')">注 册</a>

            </div>
        </div>
        <img src="img/bian2.png" style="width: 100%;">
    </ion-content>
</ion-view>