<ion-view view-title="车源信息">
  <ion-nav-buttons side="right">
    <div class="shaixuan" ng-click="openSearch()">
      <i class="icon iconfont icon-shaixuan"></i>
    </div>
  </ion-nav-buttons>
  <ion-content class="yuan">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh(cheType,baseAddress,oftenLine)">
    </ion-refresher>
    <div ng-if="showloading" style="margin-top:60px; text-align: center">
      <ion-spinner icon="ios" style="height: 60px; width: 60px;"></ion-spinner>
    </div>
    <ion-list>
      <div ng-repeat="che in ches">
        <ion-item ng-click="togglePartner(che)">
          <div class="content bb title">
            <p class="col-50 disc fl">{{che.Title}}</p>
            <span class="col-50 disc often fr">常跑路线：{{che.OftenLine}}</span>
          </div>
          <div class="content bb">
            <div class="row fenlei">
              <div class="col-50 disc">
                <i class="icon iconfont icon-font25 hui"></i><span>车型：<span class="orange">{{che.CheType}}</span></span>
              </div>
              <div class="col-50 disc">
                <i class="icon iconfont icon-chepai hui"></i><span>车牌：{{che.CheNum}}</span>
              </div>
            </div>
            <div class="row fenlei">
              <div class="col-50 disc">
                <i class="icon iconfont icon-zhongliang hui"></i><span>载重吨：{{che.Capacity}}</span>
              </div>
              <div class="col-50 disc">
                <i class="icon iconfont icon-heilongjiangtubiao24 hui"></i><span>常驻地：<span class="red">{{che.BaseAddress}}</span></span>
              </div>
            </div>
          </div>
          <div class="content">
            <span>联系人：</span> <span>{{che.Contact}}</span> &nbsp;
            <span>{{che.ContactPhone}}</span>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <p style="text-align:center;" ng-if="!moreDataCanBeLoaded()">{{message}}</p>
    <ion-infinite-scroll icon="ion-load-d" on-infinite="loadMore()" distance="10%" ng-show="!showloading" ng-if="moreDataCanBeLoaded()">
    </ion-infinite-scroll>
  </ion-content>
  <div ng-if="isShowSearch" class="xm-search">
    <div class="show-search">
      <label class="kuai-search">
                <span>车&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</span>
                <input type="text" ng-model="cheType" placeholder="">
            </label>
      <label class="kuai-search">
                <span>常&nbsp; 驻&nbsp;地</span>
                <input type="text" ng-model="baseAddress" placeholder="">
            </label>
      <label class="kuai-search">
                <span>长跑路线</span>
                <input type="text" ng-model="oftenLine" placeholder="">
            </label>
    </div>
    <div class="search-button">
      <button class="btn-close" ng-click="closeSearch()">关闭</button>
      <button class="btn-submit" ng-click='search(cheType,baseAddress,oftenLine)'>搜索</button>
    </div>
  </div>
</ion-view>